<!-- ALL OK Placed at the end of the document so the pages load faster --> 
<script src="../../../../../js/jquery/jquery.js"></script> 
<script src="../../../../../js/jquery/jquery-ui.js"></script>
<script src="../../../../../js/jquery/jquery.cookie.js"></script> 
<script src="../../../../../js/jquery/jquery.date.min.js"></script> 
<script src="../../../../../js/jquery/jquery.mousewheel.js"></script> 
<script src="../../../../../js/jquery/jquery.load-image.min.js"></script>
<script src="../../../../../js/bootstrap/bootstrap.js"></script> 

<!-- ALL OK Plugins Bootstrap -->
<script src="../../../../../js/bootstrap/bootstrap-wysihtml5/wysihtml5-0.3.0.min.js"></script> 
<script src="../../../../../js/bootstrap/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
<script src="../../../../../js/bootstrap/bootstrap-fuelux/all-fuelux.min.js"></script> 
<script src="../../../../../js/bootstrap/bootstrap-datepicker/bootstrap-datepicker.js"></script> 
<script src="../../../../../js/bootstrap/bootstrap-datepicker/bootstrap-datepicker.br.js"></script> 
<script src="../../../../../js/bootstrap/bootstrap-timepicker/bootstrap-timepicker.js"></script> 
<script src="../../../../../js/bootstrap/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="../../../../../js/bootstrap/bootstrap-colorpicker/bootstrap-colorpicker.js"></script>
<script src="../../../../../js/bootstrap/bootstrap-daterangepicker/bootstrap-daterangepicker.js"></script> 
<script src="../../../../../js/bootstrap/bootstrap-toggle-button/bootstrap-toggle-button.js"></script> 
<script src="../../../../../js/bootstrap/bootstrap-fileupload/bootstrap-fileupload.js"></script> 
<script src="../../../../../js/bootstrap/bootstrap-rowlink/bootstrap-rowlink.js"></script> 
<script src="../../../../../js/bootstrap/bootstrap-progressbar/bootstrap-progressbar.js"></script> 
<script src="../../../../../js/bootstrap/bootstrap-select/bootstrap-select.js"></script> 
<script src="../../../../../js/bootstrap/bootstrap-multiselect/bootstrap-multiselect.js"></script> 
<script src="../../../../../js/bootstrap/bootstrap-bootbox/bootbox.min.js"></script> 
<script src="../../../../../js/bootstrap/bootstrap-modal/bootstrap-modalmanager.js"></script> 
<script src="../../../../../js/bootstrap/bootstrap-modal/bootstrap-modal.js"></script> 
<script src="../../../../../js/bootstrap/bootstrap-wizard/bootstrap-wizard.min.js"></script>
<script src="../../../../../js/bootstrap/bootstrap-wizard-2/bwizard-only.min.js"></script>
<script src="../../../../../js/bootstrap/bootstrap-image-gallery/bootstrap-image-gallery.min.js"></script>
 

<!-- ALL ok Plugins Custom - Only example --> 
<script src="../../../../../js/pl-extension//prettify.js"></script>

<!-- ALL ok Plugins Custom - System --> 
<script src="../../../../../js/pl-system/jquery.nicescroll.min.js"></script> 
<script src="../../../../../js/pl-system/xbreadcrumbs.js"></script> 

<!-- ALL ok Plugins Custom - System info -->
<script src="../../../../../js/pl-system-info/jquery.qtip.min.js"></script> 
<script src="../../../../../js/pl-system-info/jquery.gritter.min.js"></script> 
<script src="../../../../../js/pl-system-info/jquery.notyfy.js"></script>

<!-- ALL ok Plugins Custom - Content -->
<script src="../../../../../js/pl-content/list.min.js"></script> 
<script src="../../../../../js/pl-content/list.paging.min.js"></script>
<script src="../../../../../js/pl-content/jPages.js"></script> 

<!-- ALL ok Plugins Custom - Component -->
<script src=".../../../../../../../js/pl-component/fullcalendar.min.js"></script> 
<script src=".../../../../../../../js/pl-component/jqallrangesliders.min.js"></script>

<!-- ALL ok Plugins Custom - Form -->
<script src=".../../../../../../../js/pl-form/jquery.uniform.min.js"></script>
<script src=".../../../../../../../js/pl-form/jquery.form.min.js"></script>
<!--<script src=".../../../../../../../js/pl-form/select2.min.js"></script>-->
<script src=".../../../../../../../js/pl-form/jquery.counter.js"></script> 
<script src=".../../../../../../../js/pl-form/jquery.elastic.js"></script> 
<script src=".../../../../../../../js/pl-form/jquery.inputmask.js"></script> 
<script src=".../../../../../../../js/pl-form/jquery.inputmask.extensions.js"></script> 
<script src=".../../../../../../../js/pl-form/jquery.validate.min.js"></script> 
<script src=".../../../../../../../js/pl-form/jquery.duallistbox.min.js"></script>

<!-- ALL ok Plugins Custom - Gallery --> 
<script src=".../../../../../../../js/pl-gallery/jquery.nailthumb.1.1.min.js"></script> 
<script src=".../../../../../../../js/pl-gallery/jquery.showLoading.min.js"></script>
<script src=".../../../../../../../js/pl-gallery/jquery.imagesloaded.js"></script>
<script src=".../../../../../../../js/pl-gallery/jquery.wookmark.min.js"></script>
 
<!-- ALL ok Plugins Tables --> 
<script src=".../../../../../../../js/pl-table/jquery.dataTables.js"></script> 
<script src=".../../../../../../../js/pl-table/jquery.dataTables.plugins.js"></script> 
<script src=".../../../../../../../js/pl-table/jquery.dataTables.columnFilter.js"></script> 

<!-- ALL ok Plugins data visualization --> 
<script src=".../../../../../../../js/pl-visualization/jquery.sparkline.min.js"></script> 
<script src=".../../../../../../../js/pl-visualization//easy-pie-chart.js"></script> 
<script src=".../../../../../../../js/pl-visualization/percentageloader.min.js"></script>
<script src=".../../../../../../../js/pl-visualization/knob.js"></script> 
<script src=".../../../../../../../js/pl-visualization/jquery.flot.js"></script> 
<script src=".../../../../../../../js/pl-visualization/jquery.flot.categories.js"></script> 
<script src=".../../../../../../../js/pl-visualization/jquery.flot.grow.js"></script> 
<script src=".../../../../../../../js/pl-visualization/jquery.flot.orderBars.js"></script> 
<script src=".../../../../../../../js/pl-visualization/jquery.flot.pie.js"></script> 
<script src=".../../../../../../../js/pl-visualization/jquery.flot.resize.js"></script> 
<script src=".../../../../../../../js/pl-visualization/jquery.flot.selection.js"></script> 
<script src=".../../../../../../../js/pl-visualization/jquery.flot.stack.js"></script> 
<script src=".../../../../../../../js/pl-visualization/jquery.flot.stackpercent.js"></script> 
<script src=".../../../../../../../js/pl-visualization/jquery.flot.time.js"></script> 

<!-- maina -->
<script src="../../../../../js/glamor-software/core.js"></script> 
<script src="../../../../../js/glamor-software/application.js"></script>
<script src="../../../../../js/glamor-software/fileupload.js"></script> 
<script src="../../../../../js/glamor-software/activepage.js"></script> 